* {
	box-sizing: border-box;
}
body {
	text-align: center;
	margin-top: 12%;
}

#wheel-front,
#wheel-back {
	animation: wheel 2s infinite linear;
	transform-origin: center;
	transform-box: fill-box;
}

#girl-bike,
#hair {
	animation: girl-bike 1s ease-in-out infinite alternate;
	transform-origin: bottom;
}

@keyframes wheel {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes girl-bike {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(15deg);
	}
}
